@import '@renderer/styles/constants';

.container {
  position: fixed;
  inset: 0;
  top: calc(env(titlebar-area-height) + 1px);
  bottom: $controls-height;
  z-index: 5;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.backdrop {
  position: absolute;
  inset: 0;
  background-color: hsl(from black h s l / 0.65);
  pointer-events: all;
}

.modal {
  @include blurPanel(top, right, bottom, left);
  border-radius: 7px;
  overflow: hidden;
  pointer-events: all;
}

.closeButton {
  display: grid;
  place-items: center;
  height: 22px;
  width: 22px;
  font-size: 16px;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  opacity: 0.65;
  background-color: $black;
  border-radius: 50%;

  &:hover {
    opacity: 1;
  }
}
