@import '@renderer/styles/constants';

.container {
  position: fixed;
  inset: 0;
  top: $title-bar-height;
  bottom: $controls-height;
  z-index: 5;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.backdrop {
  position: absolute;
  inset: 0;
  background-color: hsl(from black h s l / 0.65);
  pointer-events: all;
  
  &.enter {
    animation: backdropFade $transition-duration forwards;
  }
  
  &.exit {
    animation: backdropFade $transition-duration forwards reverse ease-in;
  }
  
  @keyframes backdropFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.modal {
  @include blurPanel(top, right, bottom, left);
  border-radius: 7px;
  overflow: hidden;
  pointer-events: all;

  &.enter {
    animation: modalGrow $transition-duration forwards;
  }

  &.exit {
    animation: modalGrow $transition-duration forwards reverse ease-in;
  }

  @keyframes modalGrow {
    from {
      opacity: 0;
      scale: 0.95;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
}

.closeButton {
  display: grid;
  place-items: center;
  height: 22px;
  width: 22px;
  font-size: 16px;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  opacity: 0.65;
  background-color: $black;
  border-radius: 50%;

  &:hover {
    opacity: 1;
  }
}
