@import '@renderer/styles/constants';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pageContainer {
  height: 100%;
  overflow: auto;
  padding: calc($title-bar-height + 15px) 50px calc($controls-height + 15px) 50px;
}
