.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pageContainer {
  height: 100%;
  overflow: auto;
  padding: 50px 50px 0 50px;
}

.controls {
  height: 120px;
  background-color: purple;
}
