@import '@renderer/styles/constants';

.container {
  width: 225px;
}

.coverContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 4px;

  .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .playButton {
    position: absolute;
    inset: 0;
    background-color: transparent;
    @include transition(background-color);

    .icon {
      font-size: 48px;
      scale: 0.85;
      opacity: 0;
      @include transition(scale, opacity);
    }
  }

  &:hover .playButton {
    background-color: hsl(from black h s l / 0.5);

    .icon {
      scale: 1;
      opacity: 1;
    }
  }

  .moreButton {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 28px;
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    background-color: transparent;
    opacity: 0;
    transform: translateY(-4px);
    @include transition(opacity, transform, scale);

    &:hover:not(:active) {
      scale: 1.15;
    }
  }

  &:hover .moreButton {
    opacity: 1;
    transform: translateY(0);
  }
}

.details {
  font-weight: 600;
  color: white;
  @include transition(color);

  &.playing {
    color: $accent;
  }

  .name {
    font-size: 16px;
    @include clampLines;
  }

  .artist {
    opacity: 0.5;
    font-size: 14px;
    @include clampLines;
  }
}
