@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import './constants.scss';

* {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  color-scheme: dark;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

svg {
  height: 1em;
  width: 1em;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

::selection {
  background-color: hsl(from $accent h s l / .5);
}
