@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg: 31, 31, 31;
  --bg-light: 37, 37, 37;
  --font-color: 243, 244, 246;
  --font-color-dark: 107, 114, 128;
  --accent: 32, 178, 170;
  --gray: 55, 55, 55;
  --light-gray: 57, 57, 59;

  --b-radius: 5px;
  --b-seperator-color: #363636;
  --b-seperator: 1px solid var(--b-seperator-color);

  --transition: 200ms all;
  --transition-half: 100ms all;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: rgb(var(--font-color));
  font-family: 'Inter', sans-serif;
  user-select: inherit;
}

b {
  color: inherit;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

html,
body,
#app {
  color-scheme: dark;
  height: 100vh;
  user-select: none;
}

.icon {
  fill: rgb(var(--font-color));
  height: 100%;
  aspect-ratio: 1/1;
  transition: var(--transition);
}

.empty-placeholder {
  color: rgb(var(--font-color-dark));
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.empty-placeholder-center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(var(--font-color-dark));
  font-weight: 300;
  font-size: 20px;
}

.input {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: var(--b-radius);
  background-color: rgb(var(--light-gray));
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--b-seperator-color);
}

.color-accent {
  color: rgb(var(--accent));
}
