@import '@renderer/styles/constants';

.titleBar {
  @include blurPanel(bottom);
  position: sticky;
  left: 0;
  top: 0;
  height: calc(env(titlebar-area-height) + 1px);
  -webkit-app-region: drag;
  z-index: 2;
}

.safeArea {
  height: 100%;
  width: calc(env(titlebar-area-width) - 1px);
}
